---
title: About — Cate Meng Zhang
---

<article>
:markdown 
	<figure class="float">
		<img src="../assets/img/cate-03.jpg">
		<figcaption>
		</figcaption>
	</figure>

	<span class="dropcap">H</span><span class="run-in">ello there. I&rsquo;m a designer</span> living in San Francisco. I design iOS apps during the day, and learn to make nice websites during the night. This blog is the very first result. 

	I love writing and designing with content. I&rsquo;m also into photography. While I could no longer afford polaroids, I take my [Voigtländer Bessa](http://en.wikipedia.org/wiki/35mm_Bessa#The_Bessa_R2A_and_R3A_.28auto-exposure_rangefinder.29) with me whenever I travel.  

	At the moment I work at a design agency making financial apps. Previously I worked at [Crush + Lovely](http://crushlovely.com/), [Miso TV](http://gomiso.com/), [Apple Inc.](http://apple.com) and [AppMesh](http://appme.sh). I&rsquo;m helping [Jina](http://jina.me) on her [Art In My Coffee](https://dribbble.com/shots/1650280-Refactor-in-My-Coffee?list=users&offset=2), and getting into Haml and Sass. 

	You can find me on [Twitter](http://twitter.com/cmzhang), [VSCO Grid](http://hellocate.vsco.co/grid/1), and [Dribbble](https://dribbble.com/hellocate). You could email me at post@hellocate.me. 
</article>