---
title: Blog — Cate Meng Zhang
---

<article>
:markdown 
	# A thought on Static Mockups 
	 The other day as I was going through my old computer, I found one of the many mockups I did for a project. More than three years has passed, the design still holds up well. I stared at the nice typography for a minute and thought, how come I didn&rsquo;t ship it?  
	
	<figure>
		<img src="assets/img/fraction-matter.jpg">
		<figcaption>
			One of the many concepts I had for Curate.it, my thesis project for school. Photo credit to from top down: <a href="http://www.markpeckmezian.com/">Mark Peckmezian</a>, <a href="http://silasdominey.tumblr.com/">Silas Dominey</a>, <a href="http://www.glenerler.com/">Glen Erler</a>, and <a href="http://en.wikipedia.org/wiki/Walker_Evans">Walker Evans</a>
		</figcaption>
	</figure>

	I looked through folders of discarded static mockups. I was too busy worrying about my work not being good enough. Remember the [Imposter Syndrome article](https://medium.com/@aliciatweet/overcoming-impostor-syndrome-bdae04e46ec5) you read some time ago? Exactly that, or very similar. 

	I kept on starting from scratch over and over again. Each time I couldn&rsquo;t make up my mind. I was afraid to make the wrong decison. &ldquo;You think too much&rdquo;, as my hair dresser always told me in our therapy a.k.a hair cutting session. I wanted everything to be perfect the first time around.

	Start small. Do it right away when you think of an idea, when you are still excited about it. Don&rsquo;t take too long. First time you make something, there will be flaws. Prioritize. Iterate. Be disciplined. Get yourself into a momentum. 

	More importantly, have fun with whatever you do. Eventually you will ship the project you are proud of.

</article>

<article>
:markdown 
	# Curate.it

	I made Curate.it between late 2011 to early 2012. It was one of my school projects. The concept was simple — an iPad photography magazine where people can easily browse and bookmark the content they like.

	Photographers would sign up and submit their projects. A curator would determine which ones to publish. Both the photographer and the curator would use the website to achieve those goals.

	## The iPad App

	For the iPad app, I selected content from photographers I know of and other resources, designed the interaction, UI and the visual style. 
	
	<figure>
		<img class="no-border" src="assets/img/curate-01.jpg">
		<figcaption>Sign up or login, you get to explore projects, to be able to follow photographers and favorite content. </figcaption>
	</figure>

	<figure>
		<img class="no-border" src="assets/img/curate-02.jpg">
		<figcaption>Layout of the featured project titled <a href="http://www.digitalrev.com/article/toshihiro-oshima-virtuoso-of-visual/NTY4NA_A_A">Virtuoso of Visual Creation</a>. The overview screen (right) shows all pages contained in this project, as thumbnail view. Left screen shows a full page view. </figcaption>
	</figure>

	<figure>
		<img class="no-border" src="assets/img/curate-03.jpg">
		<figcaption>Actions you can take with each photograph: to favorite, share to friends, follow the photographer, and check out the photographer&rsquo;s other avaialble projects.</figcaption>
	</figure>

	<figure>
		<img class="no-border" src="assets/img/curate-04.jpg">
		<figcaption>The list of photographers you follow. Everytime a new project is published from someone you follow, you get a notification. Account settings on the right screen: you can set your own home page, updated your profile and change password etc. </figcaption>
	</figure>

	<figure>
	<iframe src="//player.vimeo.com/video/104075120?title=0&amp;byline=0&amp;portrait=0" width="620" height="348" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		<figcaption>
			Here is a video demo. The later half on project submission wasn't well thought out. So I expanded it into a website, shown below. Video credit goes to <a href="http://oscardante.com/">Oscar Beckmann</a>. 
		</figcaption>
	</figure>

	## The Website

	If you have watched the video above, you would notice the part that allow photographers to submit their work was poorly executed. The submitting a project is too troublesome to do on an iPad. Wouldn&rsquo;t you prefer to do it on your desktop? That way you can take your time to fill out the forms and compile the images. 

	So I took the submission process out of the iPad app and expanded into a companign website. I also added the UI to allow curator to choose and publish. Previously, I was thinking just to have all submission emailed to the curator. 

	<figure>
		<img src="assets/img/curate-web-01.jpg">
		<figcaption>
			On the homepage, featured app screen has an updated UI. Previously my thought was the curator can publish any submission at any time. For this update, I introduced the concept of being a quaterly magazine. Therefore you see the navigation "Summer Issue" and "Fall Issue". The user no longer needs to sign up for an account to view the content. The homepage is where photographer or curator log in. 
		</figcaption>
	</figure>

	<figure class="left">
		<img src="assets/img/curate-web-02.jpg">
		<figcaption>Photographer&rsquo;s submission form. The photographer can choose a predefined category for her work, and add tags. It helps the curator to navigate through a large quantity of submissions. </figcaption>
	</figure>

	<figure class="right">
		<img src="assets/img/curate-web-03.jpg">
		<figcaption>Photographer previews layout. The website only support one layout to begin with. The same layout would be what you see on the iPad app. Edit caption in place is supported. You can aslo adjust the photograph within it&rsquo;s frame.</figcaption>
	</figure>	
	
	<figure>
		<img src="assets/img/curate-web-04.jpg">
		<figcaption>Drafts section for the photographer. You could view your submmited projects here but you would&rsquo;t be able to edit it.</figcaption>
	</figure>

	<figure>
		<img src="assets/img/curate-web-05.jpg">
		<figcaption>Curator's view on all submissions. This is a mailbox for him. Catogories, tags defined from photographers help him to find projects, though the curator has the ability to override them. </figcaption>
	</figure>

	<figure class="left">
		<img src="assets/img/curate-web-06.jpg">
		<figcaption>Curator&rsquo;s view showing the publishing deadline. In this case he already selected the required twelve projects to publish for the Fall issue. </figcaption>
	</figure>

	<figure class="right">
		<img src="assets/img/curate-web-07.jpg">
		<figcaption>A contrast view when the curator hasn&rsquo;t selected any project for the upcoming magazine issue. Click on any placeholder would take him to the inbox.</figcaption>
	</figure>

	You can [view the entire InVision prototype](http://invis.io/NPORJVDV). I also documented the walkthrough and wireframes. [Download the pdf](https://www.dropbox.com/s/qv7eft3viq53h1n/book.pdf?dl=0). 

	All I knew at the beginning was I wanted to work on a photography project. I attempted three ideas. This process helped me to get to the final execution.

	<hr />

	## Process: The Three Ideas

	### Photo essay sharing 

	My very first attempt. Like Flickr, but user shares essays or stories instead of individual photographs. Popular content and authors get featured onto the homepage. I had the navigation so cluttered.    

	<figure class="left">
		<img src="assets/img/curate-idea-one-01.jpg">
		<figcaption>Each project has a time stamp when the photos were taken, with the location as well. I wanted to encourage photographer to write educational content.</figcaption>
	</figure>
	
	<figure class="right">
		<img src="assets/img/curate-idea-one-02.jpg">
		<figcaption>You can browse by authors. The site will aggregates popular and new members. </figcaption>
	</figure>
	
	<figure>
		<img src="assets/img/curate-idea-one-03.jpg">
		<figcaption>The detail view. You can comment and find related articles. Possible actions you could take is display in a menu on the right: you could so things like add this article to your library, share to other social platform, check out the author and jump to comments. </figcaption>
	</figure>

	<figure>
		<img src="assets/img/curate-idea-one-04.jpg">
		<figcaption>The dashboard view for registered users. You get updates on new article and activities associated to your articles. There is shortcut for submitting new work and recent library items you added.</figcaption>
	</figure>

	<figure class="left">
		<img src="assets/img/curate-idea-one-05.jpg">
		<figcaption>Public profile. The copy could be better, instead of "my", it could be "Bjørn's" since anyone would be able to see. </figcaption>
	</figure>

	<figure class="right">
		<img src="assets/img/curate-idea-one-06.jpg">
		<figcaption>The history of my submission and their status.</figcaption>
	</figure>

	### Pinterest for photography? kind of.  

	This was when I began to experiment on the iPad. You could view projects generated from all users. You could save any text, photograph or entire project to a collection of yours, and share with anyone. 

	<figure class="left">
		<img src="assets/img/curate-idea-two-01.jpg">
		<figcaption>My profile screen with general inforamtion, my equipments and published work.</figcaption>
	</figure>

	<figure class="right">
		<img src="assets/img/curate-idea-two-02.jpg">
		<figcaption>You swipe left or right to move the timeline for your bookmarked content. A long tap to launch the share menu. </figcaption>
	</figure>

	<figure class="left">
		<img src="assets/img/curate-idea-two-03.jpg">
		<figcaption>Location based projects. It's up to the photographer to share her shooting location.</figcaption>
	</figure>

	<figure class="right">
		<img src="assets/img/curate-idea-two-04.jpg">
		<figcaption>A detail view of a project. You can choose to only read text or browse photographs. The default view shows everything. </figcaption>
	</figure>

	<figure class="left">
		<img src="assets/img/curate-idea-two-05.jpg">
		<figcaption>View photos only.</figcaption>
	</figure>

	<figure class="right">
		<img src="assets/img/curate-idea-two-06.jpg">
		<figcaption>View text only.</figcaption>
	</figure>

	I made an update on this concept, with inspiration from [Gimme Bar](https://gimmebar.com/). It allows users to save anything on the web into their own collections. I took the similar approach, reworked the terminology to "Exhibition", so any public exhibition the user decided to save, they can save into their own created exhibition and share with anyone. All content is user generated. 

	<figure class="left">
		<img src="assets/img/curate-idea-two-07.jpg">
		<figcaption>Catogory view is switched on: recent or popular exihibitions. Tap to disable them.</figcaption>
	</figure>

	<figure class="right">
		<img src="assets/img/curate-idea-two-08.jpg">
		<figcaption>Detail view. Curating mode allows to add any content to your own exhibition. </figcaption>
	</figure>

	<figure class="left">
		<img src="assets/img/curate-idea-two-09.jpg">
		<figcaption>Create your own gallery before you could save any content to it.</figcaption>
	</figure>

	<figure class="right">
		<img src="assets/img/curate-idea-two-10.jpg">
		<figcaption>Pinch to collapse the entire project and save it to your gallery. </figcaption>
	</figure>

	<figure class="left">
		<img src="assets/img/curate-idea-two-11.jpg">
		<figcaption>Create a new gallery.</figcaption>
	</figure>

	### The Magazine

	This is the visual exploration. I wasn&rsquo;t worried about how to submit or publish projects. Dealing with a smaller scope sped up execution, even though it had a different look and feel compared to the final version. The idea is to showcase twelve projects based on user&rsquo;s location. 

	<figure>
		<img src="assets/img/curate-idea-three-01.jpg">
		<figcaption>Landing screen</figcaption>
	</figure>

	<figure>
		<img src="assets/img/curate-idea-three-02.jpg">
		<figcaption>Project Overview</figcaption>
	</figure>

	<figure>
		<img src="assets/img/curate-idea-three-04.jpg">
		<figcaption>Signle Image View</figcaption>
	</figure>

	<figure>
		<img src="assets/img/curate-idea-three-05.jpg">
		<figcaption>Project Thumbnail View</figcaption>
	</figure>

	<figure>
		<img src="assets/img/curate-idea-three-06.jpg">
		<figcaption>Available Project List</figcaption>
	</figure>

	<figure>
		<img src="assets/img/curate-idea-three-07.jpg">
		<figcaption>Project Layout</figcaption>
	</figure>

	<figure>
		<img src="assets/img/curate-idea-three-08.jpg">
		<figcaption>Equipments information if available from the photographer</figcaption>
	</figure>

	This project spaned over three semesters. With each exploration I gained more clarity and direction. If anything, this is what I learned: 

	+ Keep scope small. Do one thing well, not ten thing average. 
	+ Focus on content. 
	+ Make it for web, tailor content for mobile devices later.  
	+ Show progress often. Ask for feedback. 
	+ Choose a subject you are passionate about. 
	+ As a student, this might be one of the few opportunities where you get total freedom and all of your day time on a project.
	+ Have fun with it.   

	## Attribution

	Special thanks to the following photographers: [Tommy Oshima](https://www.flickr.com/photos/tommyoshima), [Isabella Bejarano](http://www.isabellabejarano.com/home), [Silas Dominey](http://silasdominey.tumblr.com), [Jaqueline Vanek](https://www.flickr.com/photos/jaquelinevanek). [Mark Peckmezian](http://www.markpeckmezian.com/) and [Federica Erra](https://www.flickr.com/photos/federico_erra). If you prefer not to be featured here, please contact me <a href="http://twitter.com/cmzhang">@cmzhang</a>. All work used in this project was for academic purposes. 



</article>


